{% extends 'base.html' %}

{%block titulo_da_pagina %}
	{{ artista.nome }}
{% endblock %}

{% block frase %}
	 {{ frase.frase }} <span class="disclaimer_autor">{{ frase.filme }}</span>
{% endblock %}

{% block conteudo %}
	<div class="col-00">
		<div class="cont-header">
			
			<div class="artist-profile">
				<div class="artist-profile-img"><img src="{{ artista.foto.url }}" alt="{{ artista.nome }}" title="" width="170" height="215" /></div>
				<div class="artist-profile-content">
					<div class="artist-profile-btn">									
						<a href="#" class="tip-01">Play</a>
					</div>
					<div class="artist-profile-info">
						<span>Artista</span>
						<h4>{{ artista.nome }}</h4>
						<small>{{ artista.cidade_natal }}, {{ artista.pais }}</small>
						<b>{{ artista.data_nascimento }}</b>
					</div>
					
					<!-- TODO -->
					<div class="artist-profile-bio">
						<p><b>{{ filmes|length }} filmes realizados, 0 fãs.</b></p>
						<p>Último filme realizado: <a href="/filme/{{ ultimo_filme.id }}">{{ ultimo_filme.titulo_nacional }}, {{ ultimo_filme.ano_lancamento }}</a></p>
						
						<!-- TODO melhor atuacao -->
						<p><b>Melhor atuação: </b></p> 
					</div>								
					
					<div class="artist-profile-btn-2">
						<a class="add-user" href="#">Adicionar Usuário</a>
					</div>
				</div>
			</div> <!-- artist-profile -->
		
			<div class="box-options clear">
				<div class="content">
					<ul class="other-options">
						<li><a href="#">Filmografia</a></li>
						<li><a href="#">Melhores Atuações</a></li>
						<li><a href="#">Premiações</a></li>
						<li class="last"><a href="#" class="selected">Todos</a></li>
					</ul>
					<ul class="submenu">
						<li><select><option>ANO</option></select></li>
					</ul>
				</div>
			</div>
			
			<div class="films clear">
				<div class="films-cont">
					
					{% for filme in filmes %}
					<div class="film">
						<a href="/filme/{{filme.pk}}">
							<img src="{{ filme.capa.url }}" alt="{{ filme.nome }}" title="{{ filme.nome }}" />
						</a>
						<span>
							<b><a href="/filme/{{filme.pk}}">
								{{ filme.titulo_nacional|slice:":14" }}
									{% if filme.titulo_nacional|length > 14 %}...{% endif %}
							</a></b>
							<span>{{ filme.genero.all|first }}</span>
						</span>
					</div>
					{% endfor %}
					
				</div>
			</div> <!-- films clear -->
			
		</div> <!-- cont-header -->
	</div> <!-- col-00 -->
{% endblock %}