<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="pt-br" />
<title>r3play</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie7.css" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/ie8.css" />
<![endif]-->
</head>

<body class="tipo-02 ">
	<div class="header">
		<div class="container">
			<h1 title="r3play"><a href="index.html">r3play</a></h1>
			<form action="" class="form search_form">
				<fieldset>
    	        	<input type="text" value="usuário" class="search">
        	       	<input type="image" src="img/btn_azul.png" alt="btn_azul" width="32" height="23" class="search_btn">
       			</fieldset>
       		</form>
			<div class="disclaimer">As vezes para fazer as coisas certas, devemos desistir dos nossos sonhos. <span class="disclaimer_autor">Homem Aranha 2</span></div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<ul class="main_menu">
				<li><a href="#">Filmes</a></li>
				<li><a href="#">Categorias</a></li>
				<li><a href="#">Artistas</a></li>
				<li><a href="#">Usuários</a></li>
				<li class="last"><a href="#">Cinemas</a></li>
			</ul>
			<div class="mn_flut">
				<ul>
					<li><a href="#"><img src="img/mn_flut_fechar.png" alt="Fechar" title="Fechar" width="33" height="22"/></a></li>
					<li><a href="#"><img src="img/mn_flut_recado.png" alt="Recados" title="Recado" width="33" height="30"/></a></li>
					<li><a href="#"><img src="img/mn_flut_opcoes.png" alt="Opções" title="Opções" width="33" height="30"/></a></li>
					<li><a href="#"><img src="img/mn_flut_estatistica.png" alt="Estatísticas" title="Estatistica" width="33" height="30"/></a></li>
				</ul>
			</div>
			<div class="cont-branco mn_branco">
				<div class="col-00">
					<div class="cont-header">
						<div class="artist-profile">
							<div class="artist-profile-img"><img src="img/artista.jpg" alt="Nome" title="Nome" /></div>
							<div class="artist-profile-content">
								<div class="artist-profile-btn">									
									<a href="#" class="tip-01">Play</a>
								</div>
								<div class="artist-profile-info">
									<span>Artista</span>
									<h4>Kristen Stewart</h4>
									<small>New York, Estados Unidos</small>
									<b>20 anos</b>
								</div>
								<div class="artist-profile-bio">
									<p><b>28 filmes realizados, 2.500 fãs.</b></p>
									<p>Último filme realizado: <a href="">As Garotas do Rock, 2010</a></p>
									<p>Melhor atuação: <a href="">Crepúsculo</a></p>
								</div>								
								<div class="artist-profile-btn-2">
									<a class="add-user" href="#">Adicionar Usuário</a>
								</div>
							</div>
						</div>
					
					
						<div class="box-options clear">
							<div class="content">
								<ul class="other-options">
									<li><a href="#">Filmografia</a></li>
									<li><a href="#">Melhores Atuações</a></li>
									<li><a href="#">Premiações</a></li>
									<li class="last"><a href="#" class="selected">Todos</a></li>
								</ul>
								<ul class="submenu">
									<li><select><option>ANO</option></select></li>
								</ul>
							</div>
						</div>
						<div class="films clear">
							<div class="films-cont">
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span>
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span>
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span class="em-destaque">
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span>
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span>
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span class="em-destaque">
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span>
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span>
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span>
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>
								<div class="film">
									<img src="img/filme.jpg" alt="" title="" />
									<span>
										<b>Homem de Ferro</b>
										<span>Ação</span>
									</span>
								</div>								
							</div>
						</div>
					</div>
					<form action="" class="form more_area clear">
					<div class="btn_full mais_comment"><a href="#">Mais</a></div>
					</form>
				</div>
			</div>
			<div class="footer">
				<p><a href="#">R3PLAY</a> | <a href="#">TERMOS DE PRIVACIDADE E USO</a> | <a href="#">CONTATO</a><br/>&copy; 2007/2011 | r3play.com. Todos os Direitos Reservados. Patente Requerida.</p>
			</div>
		</div>
		
	</div>
</body>
</html>