<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="pt-br" />
	<title>r3play - {%block titulo_da_pagina %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilos.css" />
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie7.css" />
	<![endif]-->
	<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie8.css" />
	<![endif]-->
</head>

<body class="tipo-02 ">
	
	<!-- cabecalho -->
	<div class="header">
		<div class="container">
			<h1 title="r3play"><a href="/home/">r3play</a></h1>
			
			<form action="/busca/" class="form search_form" method="get">
				<fieldset>
    	        	<input type="text" value="" class="search" name="q">
        	       	<input type="image" src="{{ STATIC_URL }}img/btn_azul.png" alt="btn_azul" width="32" height="23" class="search_btn">
       			</fieldset>
       		</form>
			
			<!-- frase randomica -->
			<div class="disclaimer">
				{% block frase %}
				{% endblock %}
			</div>
			
		</div>
	</div>

	<div class="content">
		<div class="container">
			<!-- menu -->
			<ul class="main_menu">
				<li><a href="/home/">Filmes</a></li>
				<li><a href="/categorias/">Categorias</a></li>
				<li><a href="/artistas/">Artistas</a></li>
				<li><a href="/usuarios/">Usuários</a></li>
				<li class="last"><a href="/cinemas/">Cinemas</a></li>
			</ul>
			
			<!-- menu lateral esquerda -->
			<div class="mn_flut">
				<ul>
					<li><a href="#"><img src="{{ STATIC_URL }}img/mn_flut_fechar.png" alt="Fechar" title="Fechar" width="33" height="22"/></a></li>
					<li><a href="#"><img src="{{ STATIC_URL }}img/mn_flut_recado.png" alt="Recados" title="Recado" width="33" height="30"/></a></li>
					<li><a href="#"><img src="{{ STATIC_URL }}img/mn_flut_opcoes.png" alt="Opções" title="Opções" width="33" height="30"/></a></li>
					<li><a href="#"><img src="{{ STATIC_URL }}img/mn_flut_estatistica.png" alt="Estatísticas" title="Estatistica" width="33" height="30"/></a></li>
				</ul>
			</div>
			
			<div class="cont-branco mn_branco">
			<!-- conteudo -->
			{% block conteudo %}
			{% endblock %}
			</div>
	
			<!-- rodape -->
			<div class="footer">
				<p><a href="#">R3PLAY</a> | <a href="#">TERMOS DE PRIVACIDADE E USO</a> | <a href="#">CONTATO</a><br/>&copy; 2007/2011 | r3play.com. Todos os Direitos Reservados. Patente Requerida.</p>
			</div>
			
		</div><!-- container -->
	</div><!-- content -->
</body>
</html>