<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="pt-br" />
<title>r3play</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie7.css" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/ie8.css" />
<![endif]-->
</head>

<body class="tipo-01">
	<div class="container">
		<h1 title="r3play"><a href="index.html">r3play</a></h1>
		<div class="col-01">
			<form action="" class="form login">
			    <fieldset>
			    	<div class="grid-12-12 larg-fixa band-brasil">
                		<label class="form-lbl">Login</label>
               			<input type="text" value="usuário" class="form-txt">
       				 </div>
       				 <div class="grid-12-12 larg-fixa">
	       				 <div class="cadeado">
               				<i class=""></i>
	               			<input type="text" value="senha" class="form-txt">
	               		</div>
	               	</div>
	               	 <div class="grid-12-12">
	               		<ul class="form-list-chk">
                    		<li><input type="checkbox" name="checkbox-01"> <label class="form-lbl">Lembrar senha</label></li>
                    	</ul>
                    </div>
                    <div class="grid-12-12">
               			<input type="submit" value="Entrar" title="Entrar" class="form-button">
       				 </div>
       				 <div class="grid-12-12">
       				 	<span><a href="#">Esqueceu sua senha?</a></span>
       				 </div>
			    </fieldset>
			</form>
			<span class="novo_usuario">Novo Usuário?</span><br/>
			<a href="#" class="cadastre-se">Cadastre-se</a></a>
		</div>
		<div class="col-02">
			<div class="cont-branco">
				<div class="cont-cinza">
					<form action="" class="form cadastro">
			   			 <fieldset>
			    			<div class="grid-12-12 larg-fixa band-brasil">
                				<label class="form-lbl">Cadastro</label>
               					<input type="text" value="r3play.com/" class="form-txt">
       						 </div>
       						 <div class="grid-12-12 larg-fixa">
	       					    <input type="text" value="E-mail" class="form-txt">
			               	</div>
			               	<div class="grid-6-12 larg-fixa">
	       					    <input type="text" value="Senha" class="form-txt">
			               	</div>
			               	<div class="grid-6-12 larg-fixa">
	       					    <input type="text" value="Redigite Senha" class="form-txt">
			               	</div>
			               	<div class="grid-12-12">
	               				<ul class="form-list-chk">
                    				<li><input type="checkbox" name="checkbox-01"> <label class="form-lbl"><span>Declaro que tenho mais do que 12 anos,  li e
concordo com o <a href="#">Termo de Uso e Serviço</a> do R3PLAY</span></label></li>
                    			</ul>
                 		   </div>
							<div class="grid-12-12 border">
               					<input type="submit" value="ok" title="ok" class="form-button">
       				 		</div>
       					</fieldset>
       				</form>
				</div>
			</div>
			<p class="copyright">&copy; 2007 - 2011 | r3play.com. Todos os Direitos Reservados</p>
		</div>
	</div>
</body>
</html>