<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="pt-br" />
<title>r3play</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie7.css" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/ie8.css" />
<![endif]-->
</head>

<body class="tipo-02 ">
	<div class="header">
		<div class="container">
			<h1 title="r3play"><a href="index.html">r3play</a></h1>
			<form action="" class="form search_form">
			    <fieldset>
               			<input type="text" value="usuário" class="search">
               			<input type="image" src="img/btn_azul.png" alt="btn_azul" width="32" height="23" class="search_btn">
       				 
       			</fieldset>
       		</form>
		<div class="disclaimer">As vezes para fazer as coisas certas, devemos desistir dos nossos sonhos. <span class="disclaimer_autor">Homem Aranha 2</span></div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<ul class="main_menu">
				<li><a href="#">Filmes</a></li>
				<li><a href="#">Categorias</a></li>
				<li><a href="#">Artistas</a></li>
				<li><a href="#">Usuários</a></li>
				<li class="last"><a href="#">Cinemas</a></li>
			</ul>
			<div class="mn_flut">
				<ul>
					<li><a href="#"><img src="img/mn_flut_fechar.png" alt="Fechar" title="Fechar" width="33" height="22"/></a></li>
					<li><a href="#"><img src="img/mn_flut_recado.png" alt="Recados" title="Recado" width="33" height="30"/></a></li>
					<li><a href="#"><img src="img/mn_flut_opcoes.png" alt="Opções" title="Opções" width="33" height="30"/></a></li>
					<li><a href="#"><img src="img/mn_flut_estatistica.png" alt="Estatísticas" title="Estatistica" width="33" height="30"/></a></li>
				</ul>
			</div>
			<div class="cont-branco mn_branco">
				<div class="cat-col01">
					<div class="cats_header">
					<h2 class="catsh2">Recentes</h2>
					<ul class="cats_menu">
						<li><a href="#">+ Comentados</a></li>
						<li><a href="#">+ Usuários</a></li>
						<li class="last"><a href="#">Todos</a></li>
					</ul>
					</div>
					<div class="categoria">
						<div class="avatar_filme">
							<a href="#"><img src="img/cat_cima.png" alt="cat_cima" width="29" height="19"/></a>
							<img src="img/foto_filme.jpg" alt="foto_filme" width="186" height="155"/>
							<a href="#"><img src="img/cat_baixo.png" alt="baixo" width="29" height="19"/></a>
						</div>
						<div class="cat_desc">
							<h3>Super Herois,</h3>
							<span class="num_filme">32 filmes!</span>
							<div class="termometro clear">
       							<img src="img/termometro.jpg" alt="termometro" width="135" height="11"/>
       							<span class="term_masc">67% Masc</span><span class="term_fem">23% Fem</span>
       						</div>
       						<p>Compartilhe com todos ou com grupos separados de amigos, 
controlando quem vê o quê.  Conecte-se com seu melhor
amigo, seu chefe e sua avó com confiança</p>
<a class="p_links" href="#">1529 membros</a><a class="p_links last" href="#">84 comentários</a>
						</div>
						<a href="#" class="cat_gosto"><img src="img/gosto.png" alt="gosto" /></a>
						<div class="cat_separador clear"></div>
					</div>
					<div class="categoria">
						<div class="avatar_filme">
							<a href="#"><img src="img/cat_cima.png" alt="cat_cima" width="29" height="19"/></a>
							<img src="img/foto_filme.jpg" alt="foto_filme" width="186" height="155"/>
							<a href="#"><img src="img/cat_baixo.png" alt="baixo" width="29" height="19"/></a>
						</div>
						<div class="cat_desc">
							<h3>Super Herois,</h3>
							<span class="num_filme">32 filmes!</span>
							<div class="termometro clear">
       							<img src="img/termometro.jpg" alt="termometro" width="135" height="11"/>
       							<span class="term_masc">67% Masc</span><span class="term_fem">23% Fem</span>
       						</div>
       						<p>Compartilhe com todos ou com grupos separados de amigos, 
controlando quem vê o quê.  Conecte-se com seu melhor
amigo, seu chefe e sua avó com confiança</p>
<a class="p_links" href="#">1529 membros</a><a class="p_links last" href="#">84 comentários</a>
						</div>
						<a href="#" class="cat_gosto"><img src="img/gosto.png" alt="gosto" /></a>
						<div class="cat_separador clear"></div>
					</div>
					<div class="categoria">
						<div class="avatar_filme">
							<a href="#"><img src="img/cat_cima.png" alt="cat_cima" width="29" height="19"/></a>
							<img src="img/foto_filme.jpg" alt="foto_filme" width="186" height="155"/>
							<a href="#"><img src="img/cat_baixo.png" alt="baixo" width="29" height="19"/></a>
						</div>
						<div class="cat_desc">
							<h3>Super Herois,</h3>
							<span class="num_filme">32 filmes!</span>
							<div class="termometro clear">
       							<img src="img/termometro.jpg" alt="termometro" width="135" height="11"/>
       							<span class="term_masc">67% Masc</span><span class="term_fem">23% Fem</span>
       						</div>
       						<p>Compartilhe com todos ou com grupos separados de amigos, 
controlando quem vê o quê.  Conecte-se com seu melhor
amigo, seu chefe e sua avó com confiança</p>
<a class="p_links" href="#">1529 membros</a><a class="p_links last" href="#">84 comentários</a>
						</div>
						<a href="#" class="cat_gosto"><img src="img/gosto.png" alt="gosto" /></a>
						<div class="cat_separador clear"></div>
					</div>
					<div class="categoria">
						<div class="avatar_filme">
							<a href="#"><img src="img/cat_cima.png" alt="cat_cima" width="29" height="19"/></a>
							<img src="img/foto_filme.jpg" alt="foto_filme" width="186" height="155"/>
							<a href="#"><img src="img/cat_baixo.png" alt="baixo" width="29" height="19"/></a>
						</div>
						<div class="cat_desc">
							<h3>Super Herois,</h3>
							<span class="num_filme">32 filmes!</span>
							<div class="termometro clear">
       							<img src="img/termometro.jpg" alt="termometro" width="135" height="11"/>
       							<span class="term_masc">67% Masc</span><span class="term_fem">23% Fem</span>
       						</div>
       						<p>Compartilhe com todos ou com grupos separados de amigos, 
controlando quem vê o quê.  Conecte-se com seu melhor
amigo, seu chefe e sua avó com confiança</p>
<a class="p_links" href="#">1529 membros</a><a class="p_links last" href="#">84 comentários</a>
						</div>
						<a href="#" class="cat_gosto"><img src="img/gosto.png" alt="gosto" /></a>
						<div class="cat_separador clear"></div>
						
					</div>
					<div class="pagination">

							<ul>
								<li><a href=”#” class=”prevnext disablelink”>« Anterior</a></li>
								<li><a href=”#” class=”paginaatual”>1</a></li>
								<li><a href=”#”>2</a></li>
								<li><a href=”#”>3</a></li>
								<li><a href=”#”>4</a></li>
								<li><a href=”#”>5</a></li>
								<li><a href=”#”>6</a></li>
								<li><a href=”#” class=”prevnext”>Próxima»</a></li>
							</ul>

						</div>
				</div>
				<div class="catcol-02">
					<div class="cat_menu">
						<span>Categorias</span>
						<select>
                    				<option>a-m</option>
              					  </select>
						<ul>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
							<li><a href="#">Amor</a></li>
							<li><a href="#">Drama</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer">
				<p><a href="#">R3PLAY</a> | <a href="#">TERMOS DE PRIVACIDADE E USO</a> | <a href="#">CONTATO</a><br/>&copy; 2007/2011 | r3play.com. Todos os Direitos Reservados. Patente Requerida.</p>
			</div>
		</div>
		
	</div>
</body>
</html>