{% extends 'base.html' %}

{%block titulo_da_pagina %}
	Cinemas
{% endblock %}

{% block frase %}
	 {{ frase.frase }} <span class="disclaimer_autor">{{ frase.filme }}</span>
{% endblock %}

{% block conteudo %}

	<div class="col-00">
		<div class="cont-header">
			<div class="cinema-info">
				
				<div class="cinema-info-1">
					<img src="{{ cinema.logomarca.url_171x104 }}" width="171" height="104" alt="{{ cinema.nome }}" title="{{ cinema.nome }}" />
					
					<!-- TODO - adicionar as informações dinamicamente -->
					<div>
						<h4>Os Incríveis</h4>
						<span>sessão em 24 horas</span>
						<div>
							<a href="">258 <b>Amigos</b></a>
						</div>
					</div>
				</div>
				
				<div class="cinema-info-2">
					<h4>{{ cinema.nome }}</h4>
					<p>{{ cinema.endereco }}, {{ cinema.bairro }} <br />
						{{ cinema.cidade }}, {{ cinema.estado }}<br />
						
						{% if cinema.telefone != '' %}
							{{ cinema.telefone }}<br />
						{% else %}
							Telefone não informado.<br />
						{% endif %}
						
						{% if cinema.site != '' %}
							<a href="{{ cinema.site }}" target="_blank">{{ cinema.site }}</a>
						{% else %}
							Site oficial não encontrado.
						{% endif %}
					</p>

					<p class="cinema-info-2-btn">
						<a href="" class="add-user">adicionar</a>&nbsp;&nbsp;<a href="" class="buy">comprar</a>
					</p>
				</div>

				<div class="cinema-info-3">
					<div>
						<span class="left">Como chego lá!?</span> 
						<a href="" class="right">Escolha a Cidade</a>
					</div>
					<img src="http://maps.google.com/maps/api/staticmap?center={{ cinema.endereco }}, {{ cinema.bairro }} {{ cinema.cidade }}, {{ cinema.estado }}&zoom=14&size=335x162&markers=size:mid%7Ccolor:blue%7C{{ cinema.endereco }}&sensor=false" alt="{{ cinema.endereco }}, {{ cinema.bairro }}" />
				</div>
			</div>

			<div class="block-style-1">
				<div>								
					<ul class="menu-1">
						<li class="on"><a href="">Frequentadores (50)</a></li>
						<li><a href="">Meus Amigos (105)</a></li>
					</ul>
					<div class="right form-1">
						<label for="vamos_ao_cinema">Vamos ao cinema?</label>
						<input class="textfield" type="text" id="vamos_ao_cinema" />
						<input class="submit" type="submit" value="| Enviar" />
					</div>

				</div>
				<div>
					<ul class="menu-2">
						<li>Seleciona:</li>
						<li><a href="">Todos</a></li>
						<li>|</li>
						<li><a href="">Sexo</a></li>
					</ul>
				</div>
				<div>
					<img src="{{ STATIC_URL }}img/blank_img.jpg" alt="" />
				</div>
			</div>

			<div class="block-style-1">
				<div>								
					<ul class="menu-1">
						<li class="on"><a href="">Em Exibição (48)</a></li>
						<li><a href="">Em Breve (06)</a></li>
					</ul>

					<select name="" id="" class="right">
						<option value="">Datas das Exibições</option>
					</select>
				</div>
				<div>
					<ul class="menu-2">
						<li>Seleciona:</li>
						<li><a href="">Pretendo Assistir</a></li>
						<li>|</li>
						<li><a href="">Assistidos</a></li>
						<li>|</li>
						<li><a href="">Incompletos</a></li>
						<li>|</li>
						<li><a href="">Todos</a></li>
					</ul>
				</div>
				<div>
					<img src="{{ STATIC_URL }}img/blank_img_2.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>

{% endblock %}