<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="pt-br" />
<title>r3play</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie7.css" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/ie8.css" />
<![endif]-->
</head>

<body class="tipo-02">
	<div class="header">
		<div class="container">
			<h1 title="r3play"><a href="index.html">r3play</a></h1>
			<form action="" class="form search_form">
			    <fieldset>
               			<input type="text" value="usuário" class="search">
               			<input type="image" src="img/btn_azul.png" alt="btn_azul" width="32" height="23" class="search_btn">
       				 
       			</fieldset>
       		</form>
		<div class="disclaimer">As vezes para fazer as coisas certas, devemos desistir dos nossos sonhos. <span class="disclaimer_autor">Homem Aranha 2</span></div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<ul class="main_menu">
				<li><a href="#">Filmes</a></li>
				<li><a href="#">Categorias</a></li>
				<li><a href="#">Artistas</a></li>
				<li><a href="#">Usuários</a></li>
				<li class="last"><a href="#">Cinemas</a></li>
			</ul>
			<div class="mn_flut">
				<ul>
					<li><a href="#"><img src="img/mn_flut_fechar.png" alt="Fechar" title="Fechar" width="33" height="22"/></a></li>
					<li><a href="#"><img src="img/mn_flut_recado.png" alt="Recados" title="Recado" width="33" height="30"/></a></li>
					<li><a href="#"><img src="img/mn_flut_opcoes.png" alt="Opções" title="Opções" width="33" height="30"/></a></li>
					<li><a href="#"><img src="img/mn_flut_estatistica.png" alt="Estatísticas" title="Estatistica" width="33" height="30"/></a></li>
				</ul>
			</div>
			<div class="cont-branco mn_branco">
			<h2>Editar</h2>
				<div class="col-01">
					<a href="#"><img src="img/img_avatar.png" alt="Avatar" width="130" height="140"/></a><br/>
					<a href="#" class="alt_imagem"><img src="img/alterar_imagem.png" alt="Alterar Imagem" title="Alterar Imagem" />Alterar Imagem</a>
					
				</div>
				<div class="col-02">
					<form action="" class="form editar">
			   			 <fieldset>
			   			 <h3>Dados Pessoais</h3>
			    			<div class="grid-6-12">
			    				
               					<input type="text" value="Nome" class="form-txt">
       						 </div>
       						 <div class="grid-6-12">
               					<input type="text" value="Sobrenome" class="form-txt">
       						 </div>
       						 <div class="grid-12-12">
               					<input type="text" value="E-mail" class="form-txt">
       						 </div>
       						 <div class="grid-3-12">
               					<select>
                    				<option>Dia</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						 <div class="grid-6-12">
               					<select>
                    				<option>Mês do Aniversário</option>
                   						 <option>Select</option>
                			   		<option>Select</option>
              					  </select>
       						 </div>
       						 <div class="grid-3-12">
               					<select>
                    				<option>Ano</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						  <div class="grid-6-12">
               					<select>
                    				<option>Estado Civil</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						  <div class="grid-6-12">
               					<select>
                    				<option>Sexo</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						 <div class="grid-6-12">
               					<select>
                    				<option>Estado</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						 <div class="grid-6-12">
							<input type="text" value="Cidade" class="form-txt">
       						 </div>
							<div class="grid-12-12">
	               				<ul class="form-list-chk">
                    				<li><input type="checkbox" name="checkbox-01"> <label class="form-lbl"><span>Esconder minha cidade</label></li>
                    			</ul>
                 		   </div>

							<div class="grid-12-12">
               					<input type="submit" value="salvar" title="salvar" class="btnstyle-02">
       				 		</div>
       					</fieldset>
       				</form>
					<form action="" class="form editar">
			   			 <fieldset>
			   			 <h3>Alterar Senha</h3>

			    			<div class="grid-6-12">
			    				
               					<input type="text" value="Senha Atual" class="form-txt">
       						 </div>

       						 <div class="grid-6-12 clear">
               					<input type="text" value="Nova Senha" class="form-txt">
       						 </div>
       						 <div class="grid-6-12">
               					<input type="text" value="Redigite Nova Senha" class="form-txt">
       						 </div>
       						

							<div class="grid-12-12">
               					<input type="submit" value="salvar" title="salvar" class="btnstyle-02">
       				 		</div>
       					</fieldset>
       				</form>

				</div>
				<div class="col-03">
					<form action="" class="form editar">
			   			 <fieldset>
			   			 <h3>Rápidas</h3>
			    			   <div class="grid-6-12">
               					<select>
                    				<option>Gênero Favorito</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						 <div class="grid-6-12">
               					<select>
                    				<option>Gênero Favorito</option>
                   						 <option>Select</option>
                			   		<option>Select</option>
              					  </select>
       						 </div>
       						 <div class="grid-12-12">
               					<select>
                    				<option>Utiliza algum serviço de locação online?</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						  <div class="grid-12-12">
               					<select>
                    				<option>Canal mais usado para ver filmes?</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						  <div class="grid-12-12">
               					<select>
                    				<option>Dublado ou legendado?</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
       						 <div class="grid-12-12">
               					<select>
                    				<option>Prefere assistir filmes?</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>
							<div class="grid-12-12">
               					<select>
                    				<option>Pipoca ou Chocolate?</option>
                   						 <option>Select</option>
                			   	<option>Select</option>
              					  </select>
       						 </div>

							<div class="grid-12-12">
               					<input type="submit" value="salvar" title="salvar" class="btnstyle-02">
       				 		</div>
       					</fieldset>
       				</form>

				</div>
			</div>
			<div class="footer">
				<p><a href="#">R3PLAY</a> | <a href="#">TERMOS DE PRIVACIDADE E USO</a> | <a href="#">CONTATO</a><br/>&copy; 2007/2011 | r3play.com. Todos os Direitos Reservados. Patente Requerida.</p>
			</div>
		</div>
		
	</div>
</body>
</html>