{% extends 'base.html' %}

{% block titulo_da_pagina %}
	Filmes
{% endblock %}

{% block frase %}
	 {{ frase.frase }} <span class="disclaimer_autor">{{ frase.filme }}</span>
{% endblock %}

{% block conteudo %}			
	<div class="col-00">
		<div class="cont-header">
			
			<h2>Qual filme você quer assistir hoje?</h2>

			<div class="estreias">
				<h4>Explore</h4>
				<ul>
					<li><a href="#">Nacionais</a></li>
					<li><a href="#">Oscar</a></li>
					<li><a href="#">Trilogias</a></li>
					<li><a href="#">Bilhereias</a></li>
					<li class="last"><a href="#">Todos</a></li>
				</ul>
			</div>

			<div class="box-options clear">
				<div class="content">
					<ul class="other-options">
						<li><a href="#">Em Breve</a></li>
						<li><a href="#">Cinema</a></li>
						<li><a href="#">DVD & Blu-Ray</a></li>
						<li class="last"><a href="#" class="selected">Todos</a></li>
					</ul>
					<ul class="submenu">
						<li><select><option>ANO</option></select></li>
						<li><select><option>GÊNEROS</option></select></li>
					</ul>
				</div>
			</div>

			<div class="films clear">
				<div class="films-cont">
					
					{% for filme in lista_ultimos_filmes %}
					<div class="film">
						<a href="/filme/{{ filme.id }}"><img src="{{ filme.capa.url }}" alt="{{ filme.titulo_nacional }}" title="{{ filme.titulo_nacional }}" /></a>
						<span>
							{# variavel|truncatewords:"2" ---- filtro que exibe ... depois de uma quantidade de palavras  #}
							<b>{{ filme.titulo_nacional|truncatewords:"3" }}</b>
							
							{# variavel|first --- exibe apenas o primeiro elemento da lista #}
							<span>{{ filme.genero.all|first }}</span>
						</span>
					</div>
					{% endfor %}
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}