{% extends 'base.html' %}

{%block titulo_da_pagina %}
	Categoria {{ categoria.nome }}
{% endblock %}

{% block frase %}
	 {{ frase.frase }} 
	 <a href="/filme/{{ frase.id }}">
	 	<span class="disclaimer_autor">{{ frase.filme }}</span>
	</a>
{% endblock %}

{% block conteudo %}
<div class="cat-col01">
	<div class="cats_header">
		<h2 class="catsh2">{{ categoria.nome }}</h2><span class="cat_add"><a href="#">adicionar</a></span>

		<ul class="cats_menu">
			<li><select>
        				<option>GÊNERO</option>
  					  </select></li>
			<li><a href="#">Avaliação</a></li>
			<li><a href="#">Data</a></li>
			<li class="last"><a href="#">Todos</a></li>
		</ul>

		<div class="cats_aviso clear">
			<p>Vote nos filmes que você já assistiu na seta azul ao lado da avaliação geral.</p>
		</div>
	</div>
	

	{% for filme in lista_filmes %}
	<div class="filme">
		<span class="filme_contador">{{ forloop.counter }}</span>
		
		<img src="{{ filme.capa.url_115x170 }}" alt="{{ filme.titulo_nacional }}" class="capa_filme" width="115" height="170" />

		<div class="cat_desc">
			<h3>{{ filme.titulo_nacional }}</h3>
			
			<span class="catg clear">{{ filme.ano_lancamento }} - 
				{% for genero in filme.genero.all %}
					{% if forloop.last %}
						{{ genero }}
					{% else %}
						{{ genero }}, 
					{% endif %}
				{% endfor %}
			</span>

			<div class="acoes_filme">
				<img src="{{ STATIC_URL }}img/favs.png" alt="favs" />
			</div>
			
			<a href="#" class="p_assistir">Pretendo Assistir</a>
			
			<br/>
			
			<p class="filme_sinopse">
				{{ filme.sinopse|slice:":140" }}
			{% if filme.sinopse|length > 140 %}...{% endif %}
				<a href="/filme/{{ filme.pk }}">Leia mais</a>
			</p>
			
			<a class="p_links" href="#">1529 membros</a>
			<a class="p_links last" href="#">84 comentários</a>
		</div>

		<div class="cat_separador clear"></div>
	</div>
	{% endfor %}
	
	<div class="cats_explore">
		<h4>Explore outras categorias</h4>
		
		<div class="explore_container">
			<div class="categoria">
				
				<div class="avatar_filme">
					<a href="#"><img src="{{ STATIC_URL }}img/cat_cima.png" alt="cat_cima" width="29" height="19"/></a>

					<img src="{{ sugestao_categoria.foto.url_186x155 }}" width="186" height="155" />
					
					<a href="#"><img src="{{ STATIC_URL }}img/cat_baixo.png" alt="baixo" width="29" height="19"/></a>
				</div>
				
				<div class="cat_desc">
					<h3>{{ sugestao_categoria.nome }}</h3>
					<span class="num_filme">{{ sugestao_categoria.filmes.count }}</span>
					
					<div class="termometro clear">
							<img src="{{ STATIC_URL }}img/termometro.jpg" alt="termometro" width="135" height="11"/>

							<span class="term_masc">67% Masc</span><span class="term_fem">23% Fem</span>
						</div>

						<p>
						{{ sugestao_categoria.resenha|slice:":140" }}
						{% if sugestao_categoria.resenha|length > 140 %}...{% endif %}
						</p>

<a class="p_links" href="#">1529 membros</a><a class="p_links last" href="#">84 comentários</a>
				</div>

			</div>
			
			<a href="/categoria/{{ sugestao_categoria.pk }}" class="explore_seta_direita"><img src="{{ STATIC_URL }}img/ico_seta-direita.png" alt="ico_seta-direita" width="18" height="155"/></a>
		</div> <!-- explore container !-->
	</div>

</div>

<div class="catcol-02">
	<div class="pops">
		<a href="#"><img src="{{ STATIC_URL }}img/ico_mn292.png" /></a>
		<span>populares</span>
		<a href="#"><img src="{{ STATIC_URL }}img/ico_mn293.png" /></a>
	</div>

	<div class="cat_menu">
		<span>Categorias</span>
		
		<select>
			<option>a-m</option>
			<option>m-z</option>
		</select>

		<ul>
		{% for categoria in lista_categorias %}
			<li><a href="/categoria/{{ categoria.pk }}">{{ categoria }}</a></li>
		{% endfor %}
	</ul>
	</div>
</div>
{% endblock %}