{% extends 'base.html' %}

{% block titulo_da_pagina %}
	Resultados de busca
{% endblock %}

{% block conteudo %}
	
	<ul class="main_menu">
		<li><a href="#">Filmes</a></li>
		<li><a href="#">Categorias</a></li>
		<li><a href="#">Artistas</a></li>
		<li><a href="#">Usuários</a></li>
		<li class="last"><a href="#">Cinemas</a></li>
	</ul>
	
	<div class="mn_flut">
		<ul>
			<li><a href="#"><img src="{{ STATIC_URL }}img/mn_flut_fechar.png" alt="Fechar" title="Fechar" width="33" height="22"/></a></li>
			<li><a href="#"><img src="{{ STATIC_URL }}img/mn_flut_recado.png" alt="Recados" title="Recado" width="33" height="30"/></a></li>
			<li><a href="#"><img src="{{ STATIC_URL }}img/mn_flut_opcoes.png" alt="Opções" title="Opções" width="33" height="30"/></a></li>
			<li><a href="#"><img src="{{ STATIC_URL }}img/mn_flut_estatistica.png" alt="Estatísticas" title="Estatistica" width="33" height="30"/></a></li>
		</ul>
	</div>
	
	<div class="cont-branco mn_branco">
		<div class="col-00">
			<div class="cont-header">


				{% if query %}
				<h2>Resultados encontrados para "{{ query|escape }}":</h2>

				<div class="films clear">
					<div class="films-cont">
						
						{% if resultados %}
							{% for filme in resultados %}
							<div class="film">
								<a href="/filme/{{ filme.id }}"><img src="{{ MEDIA_URL }}{{ filme.capa }}" alt="{{ filme.titulo_nacional }}" title="{{ filme.titulo_nacional }}" /></a>
								<span>
									{# variavel|truncatewords:"2" ---- filtro que exibe ... depois de uma quantidade de palavras  #}
									<b>{{ filme.titulo_nacional|truncatewords:"2" }}</b>
								
									{# variavel|first --- exibe apenas o primeiro elemento da lista #}
									<span>{{ filme.genero.all|first }}</span>
								</span>
							</div>
							{% endfor %}
						{% else %}
							<p style="color:black;">Nenhum filme encontrado.</p>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
						{% endif %}
						
					</div><!-- films-cont -->
				</div><!-- films clear -->
				{% endif %}
				
			</div>
		</div>
	</div>
	

{% endblock %}