<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="pt-br" />
<title>r3play</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie7.css" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/ie8.css" />
<![endif]-->
</head>

<body class="tipo-02 ">
	<div class="header">
		<div class="container">
			<h1 title="r3play"><a href="index.html">r3play</a></h1>
			<form action="" class="form search_form">
			    <fieldset>
               			<input type="text" value="usuário" class="search">
               			<input type="image" src="img/btn_azul.png" alt="btn_azul" width="32" height="23" class="search_btn">
       				 
       			</fieldset>
       		</form>
		<div class="disclaimer">As vezes para fazer as coisas certas, devemos desistir dos nossos sonhos. <span class="disclaimer_autor">Homem Aranha 2</span></div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<ul class="main_menu">
				<li><a href="#">Filmes</a></li>
				<li><a href="#">Categorias</a></li>
				<li><a href="#">Artistas</a></li>
				<li><a href="#">Usuários</a></li>
				<li class="last"><a href="#">Cinemas</a></li>
			</ul>
			<div class="mn_flut">
				<ul>
					<li><a href="#"><img src="img/mn_flut_fechar.png" alt="Fechar" title="Fechar" width="33" height="22"/></a></li>
					<li><a href="#"><img src="img/mn_flut_recado.png" alt="Recados" title="Recado" width="33" height="30"/></a></li>
					<li><a href="#"><img src="img/mn_flut_opcoes.png" alt="Opções" title="Opções" width="33" height="30"/></a></li>
					<li><a href="#"><img src="img/mn_flut_estatistica.png" alt="Estatísticas" title="Estatistica" width="33" height="30"/></a></li>
				</ul>
			</div>
			<div class="cont-branco mn_branco">
				<div class="tit_col-01">
					<form action="" class="form form-padrao">
			   			 <fieldset>
			    			<div class="grid-12-12">
			    				<a href="#" class="tit-select">etc</a>
							</div>
       					</fieldset>
       				</form>
       				<img src="img/capa.jpg" alt="Homem de Ferro" title="Título do Filme" width="135" height="200"/>
       				<div class="termometro">
       				<img src="img/termometro.jpg" alt="termometro" width="135" height="11"/>
       				<span class="term_masc">67% Masc</span><span class="term_fem">23% Fem</span>
       				</div>
				</div>
				<div class="tit_col-02">
					<div class="grid_col">
					<h2 class="tit_filme">Homem de Ferro 2</h2>
					<h3 class="sub_tit">Iron Man 2</h3>
					<p class="catg">Ação, Aventura</p>
					<div class="acoes_filme">
						<img src="img/favs.png" alt="favs" />
					</div>
					<a href="#" class="p_assistir">Pretendo Assistir</a>
					<div class="sinopse clear">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet dolor vitae nunc placerat aliquet. Nam tincidunt mi et tellus fermentum aliquam. Aenean iaculis lorem id lacus mattis vel ultricies velit auctor. Vivamus rhoncus, augue sit amet viverra venenatis, enim nisl lobortis sapien, ut elementum neque felis vitae dui. Etiam vitae lectus diam. Phasellus elementum, est auctor dictum eleifend, orci libero dapibus orci, sit amet rhoncus nisi massa sed sem. Nullam rutrum accumsan nisi. Cras dolor ligula, ornare eu consequat a, accumsan ut risus. Vivamus ac mauris est. Integer in vulputate ante. Proin id justo velit. Donec vel enim interdum eros porttitor bibendum. <a href="#">Leia mais</a></p>
					</div>
					<div class="ficha_tec">
						<p><span>Diretor: </span><a href="#">John Favreau</a></p>
						<p><span>Elenco: </span><a href="#">John Favreau</a>, <a href="#">John Favreau</a>, <a href="#">John Favreau</a>, <a href="#">John Favreau</a>, <a href="#">John Favreau</a>, <a href="#">John Favreau</a>, <a href="#">John Favreau</a>, <a href="#">John Favreau</a></p>
					</div>
					</div>
					<h4 class="comente">Comente</h4>
					<span class="num_comentarios">958 Comentários</span>
					<form action="" class="form editar clear">
			   			 <fieldset class="area_post">
								<span class="cont_caracteres">160</span>
               					<textarea class="form-txt " cols="" rows=""></textarea>
               				
               					<input type="submit" value="Postar" title="postar" class=" btn_full">
       				 		

						</fieldset>
					</form>
					<div class="comentarios">
						<h4>COMENTÁRIOS RECENTES</h4>
						<img src="img/coment_topo.jpg" alt="coment_topo" width="561" height="5"/>
						<div class="coment">
							<span class="coment_avatar"><img src="img/avatar_coment.jpg" alt="Avatar" width="44" height="44"/></span>
							<p><span class="nome_usuario">Breno Santos: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet dolor vitae nunc placerat aliquet. Nam tincidunt mi et tellus fermentum aliquam. Aenean iaculis lorem id lacus mattis vel ultricies velit auctor. Vivamus rhoncus, augue sit amet viverra venenatis, enim nisl lobortis sapien, ut elementum neque felis vitae dui.</p>
							<div class="coment_acoes clear">
								<ul class="coment_stars">
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
								</ul>
								<span class="coment_data">January 7th</span>
							</div>						
					   </div>
					   <div class="coment">
							<span class="coment_avatar"><img src="img/avatar_coment.jpg" alt="Avatar" width="44" height="44"/></span>
							<p><span class="nome_usuario">Breno Santos: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet dolor vitae nunc placerat aliquet. Nam tincidunt mi et tellus fermentum aliquam. Aenean iaculis lorem id lacus mattis vel ultricies velit auctor. Vivamus rhoncus, augue sit amet viverra venenatis, enim nisl lobortis sapien, ut elementum neque felis vitae dui.</p>
							<div class="coment_acoes clear">
								<ul class="coment_stars">
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
								</ul>
								<span class="coment_data">January 7th</span>
							</div>						
					   </div>
					   <div class="coment">
							<span class="coment_avatar"><img src="img/avatar_coment.jpg" alt="Avatar" width="44" height="44"/></span>
							<p><span class="nome_usuario">Breno Santos: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet dolor vitae nunc placerat aliquet. Nam tincidunt mi et tellus fermentum aliquam. Aenean iaculis lorem id lacus mattis vel ultricies velit auctor. Vivamus rhoncus, augue sit amet viverra venenatis, enim nisl lobortis sapien, ut elementum neque felis vitae dui.</p>
							<div class="coment_acoes clear">
								<ul class="coment_stars">
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
									<li><img src="img/star.png" alt="star" width="15" height="13"/></li>
								</ul>
								<span class="coment_data">January 7th</span>
							</div>						
					   </div>
					</div>
					<form action="" class="form editar clear">
					<input type="submit" value="mais comentários" title="mais comentários" class=" btn_full mais_coment">
					</form>
				</div>

			</div>
			<div class="footer">
				<p><a href="#">R3PLAY</a> | <a href="#">TERMOS DE PRIVACIDADE E USO</a> | <a href="#">CONTATO</a><br/>&copy; 2007/2011 | r3play.com. Todos os Direitos Reservados. Patente Requerida.</p>
			</div>
		</div>
		
	</div>
</body>
</html>